<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Gate 17</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', filename='css/materialize.min.css')}}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection" />
    <script type="application/json">
        var swaps = {
            {
                swamps
            }
        };
    </script>
</head>

<body>
    <div class="home-screen-landing ">
        <div class="gate-logo valign-wrapper">
            <div class="center-align" style="width:100%;">
                <a href="#gate17"><img class="responsive-img tooltipped" data-position="top" data-delay="20" data-tooltip="The Team" width="150" src="{{url_for('static', filename='images/gate-17logo1.png')}}" /></a>
            </div>

        </div>
        <div class="raven-logo valign-wrapper">
            <div class="center-align" style="width:100%;">
                <a href="/projectraven" ><img class="responsive-img tooltipped"  data-position="top" data-delay="20" data-tooltip="Go To Project Raven" width="150" src="{{url_for('static', filename='images/ravenLogo.svg')}}" /></a>
            </div>

        </div>

    </div>
    <div class="modal" id="gate17">
      <div class="modal-content">
        <h2>Gate 17</h2>
      </div>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/init.js')}}"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-clustering.js"></script>
    <script type="text/javascript" src="https://js.cit.datalens.api.here.com/2.5/mapsjs-datalens.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{url_for('static', filename='js/map.js')}}"></script>
</body>

</html>
